.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.chart-section .recharts-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.selected-date-list table {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.selected-date-list td {
    border-left: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
}

.selected-date-list td:last-child {
    border-right: 1px solid #000;
    padding-top: 7px;
}

.selected-date-list th:first-child {
    text-align: left;
}

.selected-date-list th {
    border-left: 1px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #eee;
    padding-bottom: 10px;
    padding-top: 10px;
}

.selected-date-list th:last-child {
    border-right: 1px solid #000;
}

.selected-date-list {
    margin-bottom: 40px;
}

.error input {
    border-color: #e00;
    background-color: #fee;
}

.error-message {
    color: #f00;
}


.address input {
    width: 55%;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.date-selection-mode {
    margin-top: 20px;
}

.selected-date-list button {
    margin-top: 20px;
}

.dimensions .input-group {
    justify-content: center;
}

.chart-section .chart-download {
    margin-bottom: 20px;
    margin-top: 10px;
}

.dimensions input {
    width: 65px;
    text-align: center;
}

.chart-control label {
    width: 140px;
}

.chart-control {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.color-control div div {
    padding: 0;
}

.chart-control .input-group-prepend {
    height: 38px;
}

.label-enabled .input-group-text {
    height: 38px;
}